<section class="users">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <h2 class="titre">Connexion</h2>
        <form >
          <div class="form-group">
            <label for="email">firstName</label>
            <input
              type="text"
              id="firstName"
              class="form-control"
              formControlName="firstName"
            />
          </div>
          <div class="form-group">
            <label for="text">lastname</label>
            <input
              type="text"
              id="lastname"
              class="form-control"
              formControlName="lastname"
            />
          </div>
          <div class="form-group">
            <label for="text">avatar</label>
            <input
              type="url"
              id="avatar"
              class="form-control"
              formControlName="avatar"
            />
          </div>
          
          <div class="has-success">
            <div class="checkbox">
              <label>
                <input type="checkbox" id="checkboxSuccess" value="option1">
                money
              </label>
            </div>
          </div>
          <div class="has-success">
            <div class="checkbox">
              <label>
                <input type="checkbox" id="checkboxSuccess2" value="option2">
               level
              </label>
            </div>
          </div>
          <div class="has-success">
            <div class="checkbox">
              <label>
                <input type="checkbox" id="checkboxSuccess3" value="option3">
                levelpoint
              </label>
            </div>
          </div>
          <button
            class="btn btn-primary connect " *ngIf="!authStatus" (click)="onSignIn()"
            type="submit"
            [disabled]="" 
          >
            Connexion
          </button>
        </form>
        <p class="text-danger"></p>
      </div>
    </div>
    </section>